@import "tailwindcss";
@plugin 'tailwind-scrollbar-hide';

@theme {
  --font-sans: "sans-serif";
  --color-black: #000000;
  --color-gray-light: #d9d9d9;
  --color-gray-md: #979797;
  --color-red-md: #f14452;
  --color-blue-md: #3083f6;
}
