@import "tailwindcss";
@plugin 'tailwind-scrollbar-hide';

@theme {
  --font-sans: "sans-serif";
  --color-black: #000000;
  --color-black-md: #364153;
  --color-gray-hover: #f3f4f6;
  --color-gray-light: #f5f5f5;
  --color-gray-md: #979797;
  --color-red-md: #fe4700;
  --color-red-light: #fca5a5;
  --color-blue-md: #00aaf0;
  --color-blue-light: #93c5fd;
  --color-orange: #ff8341;
  --color-ivory: #fffaf6;
  --color-green-light: #f6fdec;
}
@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 60s linear infinite;
  }
}
