@import "tailwindcss";
@plugin 'tailwind-scrollbar-hide';

@theme {
  --font-sans: "sans-serif";
  --color-black: #000000;
  --color-gray-light: #d9d9d9;
  --color-gray-md: #979797;
  --color-red-md: #f14452;
  --color-red-light: #fca5a5;
  --color-blue-md: #3083f6;
  --color-blue-light: #93c5fd;
}
@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 60s linear infinite;
  }
}
